body {
    color: rgb(0, 0, 0);
    background: rgb(5, 112, 161);
    margin: 5px;
    font-family: "Alfa Slab One", sans-serif;
}

header {
    border-bottom: solid 5px rgb(72, 255, 0);
    padding: 10px;
    font-size: 32px;
    color: aquamarine;
}

.chamada {
    background: rgb(0, 255, 128);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p{
    font-size: 20x;
}

img {
  height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

 .categoria {
  padding-left: 20px;
  padding-right: 20px;
}