body {
    color:rgb(0, 0, 0);
    background:rgb(5, 112, 161);
    margin: 5px;
}
header{
    border-bottom: solid 5px rgb(72, 255, 0);
    padding: 10px;
    font-size: 32px;
    color: aquamarine;
}